@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

#travel {
    position: relative;
    margin-left: 40px;
    margin-right: auto;
    margin-top: 4%;
    float: left;
    width: 45%;
}

.about-us {
    margin-top: 4%;
    font-size: 180%;
}

h2 {
    font-size: 90%;
    font-style: normal;
    text-align: left;
    padding-left: 52%;
    padding-right: 2%;
    line-height: 120%;
}